html,body{
	margin:0;
	padding:0;
}

/**{
	border: 1px solid green;
}*/

.header{
	background-image: url("https://www.sciencedaily.com/images/2016/08/160808120715_1_900x600.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	background-color: rgba(154, 156, 158);
}

.header_layer{
	background-color: rgba(66, 67, 68, 0.6);
	height: auto;
}

.logo{
	margin-top: 0.5%;
	margin-left: %;
	border: 1px solid white;
	color: white;
	padding: 10px;
	display: inline-block;
	font-family: 'Quicksand', sans-serif;
	transition: 400ms ease-in-out;
}
.logo:hover{
	color:orange;
	border-color: orange;
	background-color: rgba(66, 67, 68, 0.4);
}

.navbar{
	display: inline-block;
	margin-left: 13%;
	margin-right: 25%;

}
.navbar nav ul li{
	display: inline-block;
	list-style-type: none;
}
.navbar nav ul li a{
	text-decoration: none;
	color: white;
	padding: 10px;
	display: block;
	transition: 400ms ease-in-out;
	font-family: 'Open Sans Condensed', sans-serif;
}

.navbar nav ul li a:hover{
	color:orange;
}

.header_margin{
	padding-top: 2%;
}

.header_content{
	padding-bottom: 5%;
	margin-top: 8%;
	max-width: 450px;
	text-align: left;
}

.header_content_1,.header_content_3{
	color:#c8ccd1;
	font-family: 'Raleway', sans-serif;
	font-size: 17px;
	text-align: left;
}

.header_content_2{
	color: white;
	font-family: 'Raleway', sans-serif;
	font-size: 250%;
	text-align: left;
	font-weight: bold;
	margin-top: 0;
	padding-top: 0;
}

.header_content_4{
	width: 150px;
	height: 40px;
	border: none;
	outline: none;
	border-radius: 50px;
	background-color: white;
	transition: 400ms ease-in-out;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	color: orange;
	margin-top: 25px;
	font-weight: bold;
	text-align: center;
	line-height: 40px;
}

.header_content_4:hover{
	background-color: orange;
	color:white;

}

.after_header{
	background-color: rgb(245, 245, 245);
	padding-left: 10%;
	padding-right: 10%
}

.after_header_heading h1{
	margin-top: 0;
	padding-top: 7%;
	font-family: 'Raleway', sans-serif;
	font-size: 180%;
}

.after_header_content_content1{
	color:#000000;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	text-align: left;
	display: inline-block;
	max-width: 400px;
	margin-right: 4%;
	padding-bottom: 5%;
}

.after_header_content_content3{
	/*max-width: 300px;*/
	margin-right: 7%;
	color:#000000;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	/*text-align: left;*/
	display: inline-block;
	/*text-align: center;*/
	padding-bottom: 3%;
}
.after_header_content_content2{
	max-width: 245px;
	margin-right: 7%;
	color:#000000;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	/*text-align: left;*/
	display: inline-block;
	/*text-align: center;*/
	padding-bottom: 10%;
}
.after_header_content_content4{
	max-width: 440px;
	margin-right: 7%;
	color:#000000;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	/*text-align: left;*/
	display: inline-block;
	/*text-align: center;*/
	padding-bottom: 10%;
}
.after_header_content_content2 p{
	transition: 300ms ease-in-out;
}
.after_header_content_content2 p:hover{
	color: black;
}


.after_header_content_content2 h3{
	color: black
}

.after_header_content_content2 img{
	width: 100px;
	height: auto;
}

.compute1{
	padding-top: 7%;
}
.discover div{
	background-image:url(https://www.planwallpaper.com/static/images/wallpapers-hd-7974-8304-hd-wallpapers_xj0THVA.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	background-color: rgba(154, 156, 158,0.5);

}
.layerdiscover{
	background-color: rgba(255, 255, 255,0.4);
	height: auto;
}
.discoverContent{
	color: white;
	padding-left: 10%;
	padding-right: 10%;
}
.discoverContent h2{
	text-align: center;
	margin-top: 0;
	padding-top: 6%;
	font-family: 'Raleway', sans-serif;
}
.discoverContent p{
	background-color: rgba(255, 144, 0,0.8);
	color:rgba(255, 255,255,.8);
	/*font-family: 'Raleway', sans-serif;
	font-size: 16px;
	text-align: left;
	display: inline-block;
	width: 40%;*/
	text-indent: 30px;
	padding-bottom: 5%;
	padding-top: 5%;
	padding-left: 25px;
	padding-right: 25px;
	max-width: 440px;
	margin-right: 7%;
	/*color:#000000;*/
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	/*text-align: left;*/
	display: inline-block;
	/*text-align: center;*/
	
}
.discoverContent ul{
	background-color: rgba(000, 000, 000,0.4);
	margin-left: 10%;
	color:orange;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	text-align: left;
	display: inline-block;
	width: 40%;
	margin-bottom: 10%;
	list-style-type: none;
	padding-top: 5%;
	padding-bottom: 3%;
}
.discoverContent ul li{
	display: inline-block;
	height: 80px; 	
	line-height: 40px;
	transition: 300ms ease-in-out;
}
.discoverContent ul li:hover{
	color: white;
}
.discoverContent ul li img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 15px;
	vertical-align: middle;
}



.panel, .flip {
    padding: 5px;
    text-align: center;
    background-color: rgba(000, 000, 000,0.4);
    color: #bec6c4;
    border-radius: 5%;
    border: none;

}

.panel {
    padding: 50px;
    display: none;
}
.afterdiscover{

	padding-top: 5%;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 5%;
	font-family: 'Raleway', sans-serif;
}
.afterdiscover h1{
	margin-bottom: 3%;
}
.afterdiscoverContent ul li{
	list-style-type: none;
	display: inline-block;
}

#one{
	width: 245px;
	height: 245px;
}
#two{
	height: 245px;
	width: 470px;
}
#one,#two{
	padding: 5px;
}

.contactus{
	background-image: url(https://static1.squarespace.com/static/56a13033cbced64883b47513/t/56b8c83c2b8ddeec7b3449ee/1454950460862/designer-desktop.jpg?format=2500w);
	color: white;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;

}
.contactuslayer{
	background-color: rgba(000, 000, 000,0.4);
}
.contactuscontent{
	padding-right: 10%;
	padding-left: 10%;
	padding-bottom: 7%;
	padding-top: 4%;
	text-align: right;
}
.contactuscontent h1,p{
	font-family: 'Raleway', sans-serif;
	margin-left: auto;
	padding-top: 3%;
}
.contactuscontent p{
	width: 600px;
}
.contactuscontent input{
	background-color: white;
	width: 100px;
	border:none;
	height: 40px;
	margin-top: 3%;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	transition: 300ms ease-in-out;
	outline: none;
}
.contactuscontent input:hover{
	background-color: orange;
	color:white;
}
.ourstaff{
	text-align: center;
	font-family: 'Raleway', sans-serif;
	padding-top: 6%;
	padding-bottom: 7%;
}
.ourstaff p{
	font-size: 14px;
	padding-top: 5px;
	padding-bottom: 4%;
}
.ourstaffcontent ul li img{
	height: 300px;

	padding-right: 5px;
}
.ourstaffcontent ul li{
	list-style-type: none;
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
}
.ourstaffcontent ul li span{
	font-size: 12px;
	font-weight: normal;
}
.workday{
	background-image: url(../images/back.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}
.workdaylayer{
	height: 200px;
	background-color: rgba(000, 000, 000,0.1);
}
.contactinformation{
	font-family: 'Raleway', sans-serif;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 6%;
	padding-bottom: 7%;
}
.contactinformation p{
	font-size: 12px;
}
.div1{
	padding: 5%;
}
.contactinformationborder{
	border:grey;
	border-style: solid;
	border-width: 15px;
	padding: 10%;
	padding-left: 18%;
}
.contactinformation ul li{
	display: inline-block;
	width: 49%;
}
.contactinformationborder p{
	margin:0;
	font-size: 12px;
}
.contactinformationborder input{
	width: 280px;
	margin-bottom: 5px;
	height: 40px;
	border:1px solid orange;
}
.formsubmit{
	background-color: white;
	border: 2px solid grey;
	height: 40px;
	margin-top: 10px;
	transition: 300ms ease-in-out;
}
.formsubmit:hover{
	background-color: orange;
	color: white;
}
.div1 img{
	width: 40px;
	height: 40px;
	vertical-align: middle;
}

#lab_social_icon_footer {
  padding: 40px 0;
  background-color: #dedede;
}

#lab_social_icon_footer a {
  color: #333;
}

#lab_social_icon_footer .social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

#lab_social_icon_footer .social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */
  
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
/*
    Multicoloured Hover Variations
*/

#lab_social_icon_footer #social-fb:hover {
  color: #3B5998;
}

#lab_social_icon_footer #social-tw:hover {
  color: #4099FF;
}

#lab_social_icon_footer #social-gp:hover {
  color: #d34836;
}

#lab_social_icon_footer #social-em:hover {
  color: #f39c12;
}
